Repository deltodon/pyside-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pymarkdown, nbqa-black

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [file, python]
      exclude: "pyside_demo/resources"
    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      types: [file, python]
      exclude: "pyside_demo/resources"
    - id: flake8
      name: flake8
      entry: poetry run flake8
      language: system
      types: [file, python]
      exclude: "pyside_demo/resources"
    - id: mypy
      name: mypy
      entry: poetry run mypy
      language: system
      types: [file, python]
      exclude: "pyside_demo/resources"
    - id: pymarkdown
      name: pymarkdown
      entry: poetry run pymarkdown scan
      language: system
      types: [file, markdown]
    - id: nbqa-black
      name: nbqa-black
      entry: poetry run nbqa black
      language: system
      files: \.ipynb$
      args: ["--nbqa-mutate"]

Refactor SQL_DELETE_ITEM from database
  pyside_demo/db/database.py
  pyside_demo/db/sql.py
Due: black, isort, flake8, mypy

Add .env support
  .env.example
  poetry.lock
  pyproject.toml
  pyside_demo/__main__.py
  pyside_demo/gui/data.py
Due: black, isort, flake8, mypy

Add local database setup in docker compose
  docker/README.md
  docker/docker-compose.yml
  docs/troubleshooting.md
Due: pymarkdown

Add table model-view
  poetry.lock
  pyproject.toml
  pyside_demo/db/database.py
  pyside_demo/gui/sidebar.py
  pyside_demo/gui/table.py
  pyside_demo/gui/window.py
  pyside_demo/model/__init__.py
  pyside_demo/model/table.py
Due: black, isort, flake8, mypy

Add table styling
  pyside_demo/theme/dark.qss
Due: none

Move sqlite data loading to TableModel
  pyside_demo/gui/table.py
  pyside_demo/model/table.py
Due: black, isort, flake8, mypy

Move DataWidget data handling to TableModel
  pyside_demo/gui/data.py
  pyside_demo/gui/table.py
  pyside_demo/gui/window.py
  pyside_demo/model/table.py
Due: black, isort, flake8, mypy

Move db env variables from DataWidget to Database
  pyside_demo/db/database.py
  pyside_demo/gui/data.py
  pyside_demo/model/table.py
  pyside_demo/theme/dark.qss
Due: black, isort, flake8, mypy

Fix display of ConflictResolutionDialog
  pyside_demo/db/database.py
  pyside_demo/gui/dialog.py
  pyside_demo/theme/dark.qss
Due: black, isort, flake8, mypy

Refactor Database.sync_with_postgresql()
  pyside_demo/db/database.py
Due: black, isort, flake8, mypy

Update unit tests in test_database
  pyside_demo/db/database.py
  tests/test_database.py
Due: black, isort, flake8, mypy

Add build and publish-to-testpypi to publish-to-pypi workflow
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
Due: none

Update links in main README
  README.md
  pyside_demo/__init__.py
Due: black, isort, flake8, mypy, pymarkdown

Updating the version to 0.1.1
  pyproject.toml
  pyside_demo/__init__.py
Due: black, isort, flake8, mypy

Add testpypi-qa and pypi jobs to publish-to-pypi workflow
  .github/workflows/publish-to-pypi.yml
  README.md
  pyproject.toml
  pyside_demo/__init__.py
Due: black, isort, flake8, mypy, pymarkdown

Fix version of snok/install-poetry to v1.4.1
  .github/workflows/ci-test.yml
  .github/workflows/docs.yml
  .github/workflows/publish-to-pypi.yml
Due: none

Fix testpypi-qa syntax error
  .github/workflows/publish-to-pypi.yml
Due: none

Update package version to 0.1.3
  README.md
  pyproject.toml
  pyside_demo/__init__.py
Due: black, isort, flake8, mypy, pymarkdown

Increase wait time in testpypi-qa to 60 seconds
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
  pyside_demo/__init__.py
Due: black, isort, flake8, mypy

Add theme to docs modules
  .github/workflows/docs.yml
  docs/index.rst
  docs/modules/gui.rst
  docs/modules/index.rst
  docs/modules/theme.rst
  docs/troubleshooting.md
Due: pymarkdown

Update README
  .github/workflows/docs.yml
  README.md
  docs/index.rst
Due: pymarkdown

Update docs changelog
  docs/changelog.md
  docs/modules/theme.rst
Due: pymarkdown

Update gif path in README
  README.md
Due: pymarkdown

Update package version to 0.2.0
  pyproject.toml
  pyside_demo/__init__.py
Due: black, isort, flake8, mypy

Update gif url in README
  README.md
  pyproject.toml
  pyside_demo/__init__.py
Due: black, isort, flake8, mypy, pymarkdown
